
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-src-primary: mat.define-palette(mat.$indigo-palette);
$angular-src-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-src-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-src-theme: mat.define-light-theme((
  color: (
    primary: $angular-src-primary,
    accent: $angular-src-accent,
    warn: $angular-src-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-src-theme);

/* You can add global styles to this file, and also import other style files */
body { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; }
.container { padding: 16px; }
button { margin: 6px 0; padding: 8px 12px; border-radius:6px; }
input, textarea { width: 100%; padding: 8px; margin:6px 0; box-sizing: border-box; }
pre { background:#f7f7f7; padding:12px; border-radius:6px; }

html, body { 
  height: 100%; 
  touch-action: manipulation;     /* improves touch scrolling */
  overscroll-behavior: none; 

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
